body {
    background: #f8f9fa;
}

.sidebar {
    background: #f0e7e7;
    height: 100vh;
    padding: 2rem 0;
    border-right: 1px solid #dee2e6;
}
.sidebar h3 {
    background: #f0e7e7;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}
.chat-list {
    list-style: none;
    padding: 0;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background: #faf9f9;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.chat-item:nth-child(odd) {
    background: #fdfdfd;
}

.chat-item-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.chat-item-name {
    font-size: 1.2em;
    font-weight: bold;
}

.main-content {
    padding: 2rem;
}

.form-section, .table-section, .log-section {
    background: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05);
}

.log {
    background: black;
    color: white;
    height: 10rem;
    overflow: auto;
    padding: 1rem;
    border-radius: .25rem;
}